echo "# github-signup-signin" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M Page
git remote add origin https://github.com/tinnaingoo/github-signup-signin.git
git push -u origin Page
